font-ref {
    font-family: 'Kanit', sans-serif;
    font-family: 'Mulish', sans-serif;
}




/* ////////////////////////////////////////////////// */
/* ///////////////NAVIGATION///////////////////////// */
/* ////////////////////////////////////////////////// */

#navigation {
    background-color: rgba(255, 255, 255, .9);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 85px;
    position:sticky;
    top: 0px;
    margin: 0px;
    border-bottom: solid;
    border-color: #374d42;
    border-width: 1px;
    z-index: 50;
}

#main-title {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    position:absolute;
    left: 5%;
    font-size: 160%;
    color: #81b29a;
    text-decoration: none;
}

.logout {
    text-decoration: none;
    position:absolute;
    right: 5%;
    color:#81b29a;
    font-family: 'Mulish', sans-serif;
}

.logout:hover {
    color:#374d42;
}

.contact {
text-decoration: none;
position:absolute;
right: 5%;
color:#81b29a;
font-family: 'Mulish', sans-serif;
}

.contact:hover {
color:#374d42;
}

/* ////////////////////////////////////////////////// */
/* ////////////WELCOME CONTAINER SECTION///////////// */
/* ////////////////////////////////////////////////// */



.welcome-font {
    font-family: 'Mulish', sans-serif;
    position: relative;
    left: 5%;
}

#welcome-name {
    font-family: 'Kanit', sans-serif;
    font-size: 250%;
    color:#81b29a;
}

#page-desc {
    font-size: 200%;
    align-items: right;
    color:#374d42;
}

.list-bullet {
    color:#374d42;
}


.container-green {
    background-color: #81b29a;
    padding-top: 15px;
    padding-bottom: 50px;
    margin-left: 0px;
}


.two-box-container {
    display: flex;
    padding: 25px;
}

.rep-column.sales-adv-column {
    margin: 0 auto;
    background-color: #ffffff;
  }

.container-white {
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 100px;
    margin-left: 0px;
    align-items: center;
}

.in-con-title-white {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 250%;
    color:#ffffff
}

.in-con-title-green {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 250%;
    color:#81b29a;
}

.in-con-sub-title {
    font-family: 'Mulish', sans-serif;
    color:#374d42;
    margin-top: 5px;
    font-size: 150%;
}

.in-con-sub-title-view-adv {
    font-family: 'Mulish', sans-serif;
    color:#374d42;
    margin-top: 5px;
    font-size: 100%;
}

.link-font {
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    color:#81b29a;
    font-size: 110%;
}

.link-font-view-adv {
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    color:white;
    font-size: 110%;
    
}

.link-font-view-adv:hover {
    color:#374d42;
}

.link-font:hover {
    color:#374d42;
}

.link-font-white {
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    color:#ffffff;
    font-size: 110%;
}

.link-font-white:hover {
    color:#374d42;
}









.adv-column {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    width: 50%;
    padding: 5px;
    margin: 15px;
}

.rep-column {
    background-color:#81b29a;
    border-width: 1px;
    width: 50%;
    padding: 15px;
    margin: 15px;
}

.first-column {
    grid-column: 1/2;
}

.second-column {
    grid-column: 2/3;
}

.third-column {
    grid-column: 3/4;
}

#view-ind-adv-container {
    margin-top: -120px;
    margin-bottom: -70px;
}

/* ////////////////////////////////////////////////// */
/* ////////////INDIVIDUAL VIEW BOXES///////////////// */
/* ////////////////////////////////////////////////// */

.view-box {
    background-color:#81b29a;
    padding: 15px;
    margin: 15px;
}

.view-box-font {
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    color:#ffffff;
    font-size: 110%;
}

.view-box-link {
    text-decoration: underline;
    color:#ffffff;
    margin-top: 40px;
}

.view-box-link:hover {
    text-decoration: underline;
    color:#374d42;
}

.back {
    text-decoration: none;
    background-color:#81b29a;
    color: #ffffff;
    margin-left: 30px;
    margin-top: 40px;
    font-family: 'Mulish', sans-serif;
    border: solid;
    padding: 4px;
    border-width: 1px;
    border-radius: 10px;
    border-color:#81b29a;
}

.back:hover {
    color: #374d42;
    border-color:#374d42;;
    background-color: #ffffff;
}

.notes {
    font-family: 'Mulish', sans-serif;
}

/* ////////////////////////////////////////////////// */
/* ////////////FOOTER//////////////////////////////// */
/* ////////////////////////////////////////////////// */

.footer {
    background-color: #374d42;;
    height: 150px;
}

.footer-text {
    color:#29322e;
    text-align: center;
}



/* ////////////////////////////////////////////////// */
/* ////////////LANDING PAGE////////////////////////// */
/* ////////////////////////////////////////////////// */

.hero-image {
    height: 600px;
}

#sales-rep-main-link {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 270%;
    color:#81b29a;
    text-decoration: none;
    margin-left: 80px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid;
    border-width: 3px;
    border-color: #81b29a;
    border-radius: 25px;
}

#sales-adv-main-link {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 270%;
    color:#81b29a;
    text-decoration: none;
    margin-left: 80px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid;
    border-width: 3px;
    border-color: #81b29a;
    border-radius: 25px;
}

#sales-adv-main-link:hover {
    color: #ffffff;
    background-color: #81b29a;
    border-color: #ffffff;
}

#sales-rep-main-link:hover {
    color: #ffffff;
    background-color: #81b29a;
    border-color: #ffffff;
}

#i-am-a {
    color: #374d42;
    font-family: "Mulish", sans-serif;
    font-size: 250%;
    margin-top: 40px;
    margin-left: 80px;
}

#reg-div {
    margin-left: 140px;
}

#new-user {
    font-family: "Mulish", sans-serif;
    font-size: 120%;
    color: #29322e;
}

#register {
    font-family: "Mulish", sans-serif;
    color:#81b29a;
    text-decoration: none;
    font-size: 120%;
}

.logo {
    display: block;
    margin: 00 auto;
    width: 14%;
}

#landing-page-first-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* ////////////////////////////////////////////////// */
/* ////////////FORM INPUT//////////////////////////// */
/* ////////////////////////////////////////////////// */

.form-input {
    font-family: "kanit", sans-serif;
    margin: 5px;
}

.form-font {
    font-family: "Mulish", sans-serif;
    
}



#im-a-sales-adv {
    text-align: center;
}