font-ref {
    font-family: 'Kanit', sans-serif;
    font-family: 'Mulish', sans-serif;
}

.container-green {
    background-color: #81b29a;
    padding-top: 15px;
    padding-bottom: 50px;
    margin-left: 0px;
}


/* ////////////////////////////////////////////////// */
/* ///////////////NAVIGATION///////////////////////// */
/* ////////////////////////////////////////////////// */

#navigation {
    background-color: rgba(255, 255, 255, .9);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    position:sticky;
    top: 0px;
    margin: 0px;
    border-bottom: solid;
    border-color: #81b29a;
    border-width: 1px;
    z-index: 50;
}

#main-title {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    position:absolute;
    left: 5%;
    font-size: 200%;
    color: #81b29a;
    text-decoration: none;
}

.logout {
    text-decoration: none;
    position:absolute;
    right: 5%;
    color:#81b29a;
}

.logout:hover {
    color:#374d42;
}

/* ////////////////////////////////////////////////// */
/* ////////////WELCOME CONTAINER SECTION///////////// */
/* ////////////////////////////////////////////////// */

.container-top {
    padding: 10px;
    text-align: left;
}

.welcome-font {
    font-family: 'Mulish', sans-serif;
    position: relative;
    left: 5%;
}

#welcome-name {
    font-family: 'Kanit', sans-serif;
    font-size: 250%;
    color:#81b29a;
}

#page-desc {
    font-size: 200%;
    align-items: right;
    color:#374d42;
}

.list-bullet {
    color:#374d42;
}







.two-box-container {
    display: flex;
    padding: 25px;
}

.rep-column.sales-adv-column {
    margin: 0 auto;
    background-color: #ffffff;
  }

.container-white {
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 100px;
    margin-left: 0px;
    align-items: center;
}

.in-con-title-white {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 250%;
    color:#ffffff
}

.in-con-title-green {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 250%;
    color:#81b29a;
}

.in-con-sub-title {
    font-family: 'Mulish', sans-serif;
    color:#374d42;
    margin-top: 5px;
    font-size: 150%;
}

.link-font {
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    color:#81b29a;
    font-size: 110%;
}

.link-font:hover {
    color:#374d42;
}

.link-font-white {
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    color:#ffffff;
    font-size: 110%;
}

.link-font-white:hover {
    color:#374d42;
}









.adv-column {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    width: 50%;
    padding: 5px;
    margin: 15px;
}

.rep-column {
    background-color:#81b29a;
    border-width: 1px;
    width: 50%;
    padding: 15px;
    margin: 15px;
}

.first-column {
    grid-column: 1/2;
}

.second-column {
    grid-column: 2/3;
}

.third-column {
    grid-column: 3/4;
}

/* ////////////////////////////////////////////////// */
/* ////////////INDIVIDUAL VIEW BOXES///////////////// */
/* ////////////////////////////////////////////////// */

.view-box {
    background-color:#81b29a;
    padding: 15px;
    margin: 15px;
}

.view-box-font {
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    color:#ffffff;
    font-size: 110%;
}

.view-box-link {
    text-decoration: underline;
    color:#ffffff;
    margin-top: 40px;
}

.view-box-link:hover {
    text-decoration: underline;
    color:#374d42;
}

.back {
    text-decoration: none;
    background-color:#81b29a;
    color: #ffffff;
    margin-left: 30px;
    margin-top: 40px;
    font-family: 'Mulish', sans-serif;
    border: solid;
    padding: 4px;
    border-width: 1px;
    border-radius: 10px;
    border-color:#81b29a;
}

.back:hover {
    color: #374d42;
    border-color:#374d42;;
    background-color: #ffffff;
}

.notes {
    font-family: 'Mulish', sans-serif;
}

/* ////////////////////////////////////////////////// */
/* ////////////FOOTER//////////////////////////////// */
/* ////////////////////////////////////////////////// */

.footer {
    background-color: #374d42;;
    height: 150px;
}

.footer-text {
    color:#29322e;
    text-align: center;
}