{% extends "base.html" %}

{% block title %}Advocate Home{% endblock %}

{% block body %}

<p>You are logged in as an advocate.</p>

<h3>Your Connections</h3>
<div>
    {% for sales_rep in sales_reps %}
                <a href="/advocate/{{ sales_rep.rep_id }}">
                     Connection: {{ sales_rep.first_name }} {{ sales_rep.last_name }}
                     || Company: {{ sales_rep.company }}
                </a><br>
    {% endfor %}
</div>


<a class= "logout" href="/adv_logout">Logout</a>


{% endblock %}



{% block after_body %}{% endblock %}