{% extends "base.html" %}

{% block title %}Advocate Home{% endblock %}

{% block body %}

<nav id="navigation">
    <a id="main-title" href="/"><h3>Kredible</h3></a>
    <a class= "logout" href="/adv_logout">Log Out</a>
</nav>

<div class="container-top">
    <h2 id="welcome-name" class="welcome-font">Welcome, {{ user.first_name }}.</h2>
    <h4 id="page-desc" class="welcome-font">Give feedback.<br>Earn rewards.</h4>
</div>

{% for message in get_flashed_messages() %}
    <h3 id="rep-alert" class="alert">{{ message }}</h3>
{% endfor %}



<div class="container-white">

    <h3 class="in-con-title-green">Your Meetings</h3>
    <div class="two-box-container">
        <div class="rep-column first-column">
        <h4 class="in-con-sub-title">Meeting Requests</h4>
            {% for meeting in meetings %}
            <ul>
                {% if not meeting.meeting_accepted %}
                    <a class="link-font-white" href="/adv/meeting/{{ meeting.meeting_id }}">
                        <li>{{ meeting.get_readable_date() }}, {{ meeting.time }} <br>{{ meeting.customer['first_name'] }} {{ meeting.customer['last_name'] }} of {{ meeting.customer['company'] }}<br> {{ meeting.sales_rep['first_name'] }} {{ meeting.sales_rep['last_name'] }} of {{ meeting.sales_rep['company'] }}
                    </a>
                    <form method="post" action="/accept_meeting/{{ meeting.meeting_id }}">
                        {{ form.meeting_accepted(id="button-font", class="btn btn-primary") }}
                        {{ form.csrf_token }}
                    </li>
                    </form>
                <br>
                {% endif %}
            </ul>
            {% endfor %}
        </div>

        <div class="rep-column second-column">
            <h4 class="in-con-sub-title">Accepted Meetings</h4>
            {% for meeting in meetings %}
            <ul>
                {% if meeting.meeting_accepted %}
                    <a class="link-font-white" href="/adv/meeting/{{ meeting.meeting_id }}">
                        <li>{{ meeting.get_readable_date() }}, {{ meeting.time }} <br>{{ meeting.customer['first_name'] }} {{ meeting.customer['last_name'] }} of {{ meeting.customer['company'] }}<br> {{ meeting.sales_rep['first_name'] }} {{ meeting.sales_rep['last_name'] }} of {{ meeting.sales_rep['company'] }}</li>
                    </a>     
                <br>
                {% endif %}
            </ul>
            {% endfor %}
        </div>
    </div>
    
</div>




    
<div class="container-green">

    <h3 class="in-con-title-white">Your Connections</h3>
    <div class="rep-column sales-adv-column">
        <h4 class="in-con-sub-title">Click below to message or view contact info:</h4>
        <ul>
        {% for sales_rep in sales_reps %}
                    <li><a class="link-font" href="/advocate/{{ sales_rep.rep_id }}">
                        Connection: {{ sales_rep.first_name }} {{ sales_rep.last_name }}
                        || Company: {{ sales_rep.company }}
                    </a></li><br>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="container-white">
    <h3 class="in-con-title-green">Set Availability, Redeem Rewards</h3>
    <div class="two-box-container">
        <div class="rep-column first-column">
        <h4 class="in-con-sub-title">Your Availability</h4>
            <div>
                <h1>Availability form goes here</h1>
            </div>
            <br>
        </div>

        <div class="rep-column second-column">
            <h4 class="in-con-sub-title">Redeem your reward here:</h4>
            <div>
                <h1>Reward redeem section coming soon</h1>
            </div>
            <br>
        </div>
    </div>
</div>

{% endblock %}
{% block after_body %}{% endblock %}