{% extends "base.html" %}

{% block title %}Advocate Home{% endblock %}

{% block body %}

<div>
    <h2>Welcome, {{ user.first_name }}.</h2>
</div>

<h3>Meeting Requests</h3>
<div>
    {% for meeting in meetings %}
        <a href="/adv/meeting/{{ meeting.meeting_id }}">
            {{ meeting.date }}, {{ meeting.date }} -- {{ meeting.customer['first_name'] }} {{ meeting.customer['last_name'] }} of {{ meeting.customer['company'] }}
        </a>           
    {% endfor %}
</div>

<h3>Accepted Meetings</h3>
<div>
    <p>!!! ADD ACCEPTED MEETINGS BOOLEAN TO MODEL AND ADD HERE !!!</p>
</div>

<h3>Your Connections</h3>
<div>
    {% for sales_rep in sales_reps %}
                <a href="/advocate/{{ sales_rep.rep_id }}">
                     Connection: {{ sales_rep.first_name }} {{ sales_rep.last_name }}
                     || Company: {{ sales_rep.company }}
                </a><br>
    {% endfor %}
</div>


<br>
<a class= "logout" href="/adv_logout">Logout</a>


{% endblock %}



{% block after_body %}{% endblock %}