{% extends "base.html" %}

{% block title %}Log In to Kredible{% endblock %}

{% block body %}

<nav id="navigation">
    <a id="main-title" href="/"><h3>Kredible</h3></a>
    <a class="logout" href="/register">Register</a></p>
</nav>

<div class="two-box-container">
    <div class="rep-column sales-adv-column">
        <h2 class="in-con-title-green">Advocate Log In</h2>
        <form class="adv-login-form"method="POST" action="/advocate_login">
            <div id="adv-login-email-box">{{ form.email.label(class="form-font") }}:<br> {{ form.email(class="form-input") }}</div>
            <div id="adv-login-password-box">{{ form.password.label(class="form-font") }}:<br> {{ form.password(class="form-input") }}</div>
            {{ form.csrf_token }}
            <button id="button-font-white" class ="btn btn-primary" type="submit">Sign In</button>
        </form>
            <br>
            <a class="link-font" id="im-a-sales-adv" href="/rep">I'm a Sales Representative</a>
            <br>
    </div>


    <div class="rep-column sales-adv-column">
        <img class="hero-image" src="/static/images/hero-image.png" alt="Request, Schedule, Reward">
    </div>
</div>


{% endblock %}

{% block after_body %}{% endblock %}