{% extends "base.html" %}

{% block title %}Log In to Kredible{% endblock %}

{% block body %}
<h1><a href="/">Kredible</a></h1>
<h2>advocate login</h2>
<form class="adv-login-form"method="POST" action="/advocate_login">
    <div id="adv-login-email-box">{{ form.email.label }}: {{ form.email }}</div>
    <div id="adv-login-password-box">{{ form.password.label }}: {{ form.password }}</div>
    {{ form.csrf_token }}
    <button id="login-button" class ="btn btn-primary" type="submit">Sign In</button>
</form>

<br>
<a href="/rep">I'm a Sales Representative</a>
<br>
<br>
<p>New user? <a href="/register">Register</a></p>


{% endblock %}

{% block after_body %}{% endblock %}