{% extends "base.html" %}

{% block title %}Kredible{% endblock %}

{% block body %}

<nav id="navigation">
    <a id="main-title" href="/"><h3>Kredible</h3></a>
    <a class= "contact" href="/contact">Contact</a>
</nav>


<div class="container-top" id="landing-page-first-container">
    <h1 id="page-desc" class="welcome-font">Build trust and<br>close deals faster</h1>

    <img class="hero-image" src="/images/hero-image.png" alt="Request, Schedule, Reward">
</div>

<div class="container-green">
    <h3 class="in-con-title-white">I am a...</h3>
    <a id="sales-rep-main-link" href="/rep">Sales Representative</a>
    <br>
    <a id="sales-adv-main-link" href="/advocate">Sales Advocate</a>
    <br>
    <p>New user? <a href="/register">Register</a></p>
</div>

{% endblock %}

{% block after_body %}{% endblock %}