{% extends "base.html" %}

{% block title %}Kredible{% endblock %}

{% block body %}


<div id="landing-page-first-container">
   <img class="logo" src="/static/images/logo.png" alt="Kredible">
</div>

<div class="two-box-container">
    <div class="rep-column sales-adv-column">
        <!-- <h1 id="page-desc" class="welcome-font">Build trust and<br>close deals faster</h1> -->
        <h3 id="i-am-a">I am a...</h3>
        <br>
        <a id="sales-rep-main-link" href="/rep">Sales Representative</a>
        <br>
        <br>
        <br>
        <br>
        <a id="sales-adv-main-link" href="/advocate">Sales Advocate</a>
        <br>
    </div>

    

    <div class="rep-column sales-adv-column">
        <img class="hero-image" src="/static/images/hero-image.png" alt="Request, Schedule, Reward">
    </div>
</div>

<div id="reg-div">
    <p id="new-user">New user? <a id="register" href="/register">Register</a></p>
</div>

    
    


{% endblock %}

{% block after_body %}{% endblock %}