{% extends "base.html" %}

{% block title %}Kredible{% endblock %}

{% block body %}


<div id="landing-page-first-container">
   <img class="logo" src="/static/images/logo.png" alt="Kredible">
</div>

<div class="two-box-container">

    <div class="rep-column sales-adv-column">
        <img class="hero-image" src="/static/images/hero-image.png" alt="Request, Schedule, Reward">
    </div>
    
    <div class="rep-column first-column">
        <h4 class="in-con-sub-title">register form</h4>


        
    </div>

    
</div>

<div id="reg-div">
    <p id="new-user">Already registered? <a id="register" href="/">Log In</a></p>
</div>

    
    


{% endblock %}

{% block after_body %}{% endblock %}