{% extends "base.html" %}

{% block title %}Kredible{% endblock %}

{% block body %}

<div>
<p>You are logged in as a sales rep.</p>
</div>

<h3>Your Sales Advocates</h3>
<div>
    {% for sales_adv in sales_advs %}
                <a href="/rep/{{ sales_adv.adv_id }}">
                     {{ sales_adv.first_name }}
                     {{ sales_adv.last_name }}
                     {{ sales_adv.company }}
                </a><br>
    {% endfor %}
</div>

<a class= "logout" href="/rep_logout">Logout</a>

{% endblock %}

{% block after_body %}{% endblock %}