{% extends "base.html" %}

{% block title %}Kredible{% endblock %}

{% block body %}

<div>
    <h2>Welcome, {{ user.first_name }}.</h2>
</div>

<h3>Upcoming Meetings</h3>
<div>
    {% for meeting in meetings %}
        <a href="/rep/meeting/{{ meeting.meeting_id }}">
            {{ meeting.date }}, {{ meeting.date }} -- {{ meeting.customer['first_name'] }} {{ meeting.customer['last_name'] }} of {{ meeting.customer['company'] }} with {{ meeting.sales_adv['first_name'] }} {{ meeting.sales_adv['last_name'] }} of {{ meeting.sales_adv['company'] }} 
        </a>           
    {% endfor %}
</div>

<h3>Your Sales Advocates</h3>
<div>
    {% for sales_adv in sales_advs %}
                <a href="/rep/{{ sales_adv.adv_id }}">
                     {{ sales_adv.first_name }} {{ sales_adv.last_name }}
                     || Company: {{ sales_adv.company }}
                </a><br>
    {% endfor %}
</div>

<h3>Your Prospects</h3>
<div>
    {% for customer in customers %}
                <a href="/rep/customer/{{ customer.cust_id }}">
                     {{ customer.first_name }} {{ customer.last_name }}
                     || Company: {{ customer.company }}
                </a><br>
    {% endfor %}
</div>
<br>

<h4>Add a new prospect:</h4>
<div>
    <form method="POST" action="/rep">
        <div class="form-input">{{ form.first_name.label }}: {{ form.first_name }}</div>
        <div class="form-input">{{ form.last_name.label }}: {{ form.last_name }}</div>
        <div class="form-input">{{ form.email.label }}: {{ form.email }}</div>
        <div class="form-input">{{ form.company.label }}: {{ form.company }}</div>
        <div class="form-input">{{ form.phone_number.label }}: {{ form.phone_number }}</div>
        {{ form.csrf_token }}
        <button id="button-font" class ="btn btn-primary" type="submit">Add Prospect</button>
    </form>
</div>

<br>
<a class= "logout" href="/rep_logout">Logout</a>

{% endblock %}

{% block after_body %}{% endblock %}