{% extends "base.html" %}

{% block title %}Kredible{% endblock %}

{% block body %}

<div>
    <h2>Welcome, {{ user.first_name }}.</h2>
</div>
                

<div class="container">

    <div class="rep-column first-column">
    <h3>Upcoming Meetings</h3>
        <h4>Requested</h4>
        {% for meeting in meetings %}
            {% if not meeting.meeting_accepted %}
                <a href="/rep/meeting/{{ meeting.meeting_id }}">
                    {{ meeting.customer['first_name'] }} {{ meeting.customer['last_name'] }} of {{ meeting.customer['company'] }} at {{ meeting.date }} with {{ meeting.sales_adv['first_name'] }} {{ meeting.sales_adv['last_name'] }} of {{ meeting.sales_adv['company'] }} 
                </a>
                <br>  
            {% endif %}
        {% endfor %}

        <h4>Accepted</h4>
        {% for meeting in meetings %}
            {% if meeting.meeting_accepted %}
                <a href="/rep/meeting/{{ meeting.meeting_id }}">
                    {{ meeting.customer['first_name'] }} {{ meeting.customer['last_name'] }} of {{ meeting.customer['company'] }} at {{ meeting.date }} with {{ meeting.sales_adv['first_name'] }} {{ meeting.sales_adv['last_name'] }} of {{ meeting.sales_adv['company'] }} 
                </a>
                <br>  
            {% endif %}
        {% endfor %}
    </div>






    <div class="rep-column second-column">
        <h3>Your Sales Advocates</h3>
        <p>Click on an advocate's name below to request a meeting:</p>
        {% for sales_adv in sales_advs %}
                    <a href="/rep/{{ sales_adv.adv_id }}">
                        {{ sales_adv.first_name }} {{ sales_adv.last_name }}
                        || {{ sales_adv.company }}
                    </a><br>
        {% endfor %}
    </div>






    <div class="rep-column third-column">
        <h3>Your Prospects</h3>
        <div>
            {% for customer in customers %}
                        <a href="/rep/customer/{{ customer.cust_id }}">
                            {{ customer.first_name }} {{ customer.last_name }}
                            || {{ customer.company }}
                        </a><br>
            {% endfor %}
        </div>
        <br>

        <h4>Add a new prospect:</h4>
        <div>
            <form method="POST" action="/rep">
                <div class="form-input">{{ form.first_name.label }}: {{ form.first_name }}</div>
                <div class="form-input">{{ form.last_name.label }}: {{ form.last_name }}</div>
                <div class="form-input">{{ form.email.label }}: {{ form.email }}</div>
                <div class="form-input">{{ form.company.label }}: {{ form.company }}</div>
                <div class="form-input">{{ form.phone_number.label }}: {{ form.phone_number }}</div>
                <div class="form-input">{{ form.notes.label }}: {{ form.notes }}</div>
                {{ form.csrf_token }}
                <button id="button-font" class ="btn btn-primary" type="submit">Add Prospect</button>
            </form>
        </div>
        <br>
    </div>
    
</div>





<a class= "logout" href="/rep_logout">Logout</a>

{% endblock %}

{% block after_body %}{% endblock %}