{% extends "base.html" %}

{% block title %}Log In to Kredible{% endblock %}

{% block body %}
<h1>rep login</h1>
<form class="rep-login-form"method="POST" action="/rep_login">
    <div id="rep-login-email-box">{{ form.email.label }}: {{ form.email }}</div>
    <div id="rep-login-password-box">{{ form.password.label }}: {{ form.password }}</div>
    {{ form.csrf_token }}
    <button id="login-button" class ="btn btn-primary" type="submit">Sign In</button>
</form>


<br>
<a href="/advocate">I'm a Sales Advocate</a>
<br>
<a href="/">Back Home</a>

{% endblock %}

{% block after_body %}{% endblock %}