{% extends "base.html" %}

{% block title %}Kredible - Connection Info{% endblock %}

{% block body %}

<p>You are logged in as an advocate.</p>

<h2>{{ rep.first_name }} {{ rep.last_name }} of {{ rep.company }}</h2>
<h4>Email: {{ rep.email }}</h4>
<h4>Phone: {{ rep.phone_number }}</h4>

<div>
    <h3>Messages with {{ rep.first_name }} {{ rep.last_name }} of {{ rep.company }}</h3>
    {% for message in message_list %}
                <p>
                    {{ message }}
                </p><br>
    {% endfor %}
</div>

<a href="/advocate">
    Back
</a>
<br>
<a class= "logout" href="/adv_logout">Logout</a>

{% endblock %}

{% block after_body %}{% endblock %}