{% extends "base.html" %}

{% block title %}Kredible - Customer Info{% endblock %}

{% block body %}

<nav id="navigation">
    <a id="main-title" href="/"><h3>Kredible</h3></a>
    <a class= "logout" href="/rep_logout">Log Out</a>
</nav>

<div class="container-white">

    <h3 class="in-con-title-green">{{ customer.first_name }} {{ customer.last_name }} || {{ customer.company }}</h3>
    <div class="view-box">
        <h3 class="view-box-font">Email: <span class="black-notes">{{ customer.email }}</span></h3>
        <h3 class="view-box-font">Phone number: <span class="black-notes">{{ customer.phone_number }}</span></h3>
        <h3 class="view-box-font">Region: <span class="black-notes">{{ customer.region }}</span></h3>
        <h3 class="view-box-font">Company Size: <span class="black-notes">{{ customer.company_size }}</span></h3>
        <h3 class="view-box-font">Industry: <span class="black-notes">{{ customer.industry }}</span></h3>
        <h3 class="view-box-font">Notes: </h3>
        <h4 class="notes">{{ customer.notes }}</h4>
    </div>
</div>

<a class="back" href="/rep">Back</a>
<br>

{% endblock %}

{% block after_body %}{% endblock %}