{% extends "base.html" %}

{% block title %}Kredible - Connection Info{% endblock %}

{% block body %}

<nav id="navigation">
    <a id="main-title" href="/"><h3>Kredible</h3></a>
    <a class= "logout" href="/adv_logout">Log Out</a>
</nav>



<div class="container-white">
    <h3 class="in-con-title-green">{{ rep.first_name }} {{ rep.last_name }} of {{ rep.company }}</h3>
    
    <div class="two-box-container">

        <div class="rep-column first-column">
            <h4 class="in-con-sub-title">Contact Info</h4>
            <h4 class="view-box-font">Email: {{ rep.email }}</h4>
            <h4 class="view-box-font">Phone: {{ rep.phone_number }}</h4>

        </div>

        <div class="rep-column second-column">
            <h3 class="in-con-sub-title">Messages with {{ rep.first_name }} {{ rep.last_name }}</h3>
            {% for message in message_list %}
                        <p>
                            {{ message }}
                        </p><br>
            {% endfor %}
        </div>

    </div>
</div>

<a class="back" href="/advocate">
    Back
</a>

{% endblock %}

{% block after_body %}{% endblock %}