{% extends "base.html" %}

{% block title %}Kredible - Advocate Info{% endblock %}

{% block body %}

<nav id="navigation">
    <a id="main-title" href="/"><h3>Kredible</h3></a>
    <a class= "logout" href="/rep_logout">Log Out</a>
</nav>

{% for message in get_flashed_messages() %}
    <h3 class="alert", id="rep-alert">{{ message }}</h3>
{% endfor %}

<div class="container-white">
    <h3 class="in-con-title-green">{{ adv.first_name }} {{ adv.last_name }} of {{ adv.company }}</h3>

    <div class="two-box-container">

        <div class="rep-column first-column">
            <h4 class="in-con-sub-title">Contact Info</h4>
            <h4 class="view-box-font">Email: {{ adv.email }}</h4>
            <h4 class="view-box-font">Phone: {{ adv.phone_number }}</h4>
            <h4 class="in-con-sub-title">Availability</h4>
            <h4 class="view-box-font">{{ adv.availability }}</h4>
        </div>


        <div class="rep-column second-column">
            <h3 class="in-con-sub-title">Request meeting with {{ adv.first_name }} {{ adv.last_name }}</h3>
            <form class="request-mtg-form"method="POST" action="/rep/{{ adv.adv_id }}">
                <p class="view-box-font"> {{ form.cust_id.label }}:<br> {{ form.cust_id(class="prospect-form-input-box") }}</p>
                <p class="view-box-font"> {{ form.date.label }}:<br> {{ form.date(class="prospect-form-input-box") }} </p>
                <p class="view-box-font"> {{ form.time.label }}:<br> {{ form.time(class="prospect-form-input-box") }}</p>
                <p class="view-box-font"> {{ form.meeting_link.label }}:<br> {{ form.meeting_link(class="prospect-form-input-box") }}</p>
                <p class="view-box-font"> {{ form.meeting_prep_notes.label }}:<br> {{ form.meeting_prep_notes(class="prospect-form-input-box", id="notes-form") }} </p>
                {{ form.csrf_token }}
                <button id="button-font" class ="btn btn-primary" type="submit">Request Meeting</button>
            </form>         
        </div>
    </div>    
</div>

<div id="view-ind-adv-container"class="container-white">
    <div class="two-box-container">

        <div class="rep-column first-column">
                <h3 class="in-con-sub-title">Meetings involving {{ adv.first_name }} {{ adv.last_name }}</h3>
                <h4 class="in-con-sub-title-view-adv">Requested</h4>
                {% for meeting in meetings %}
                    {% if not meeting.meeting_accepted %}
                        <a class="link-font-view-adv" href="/rep/meeting/{{ meeting.meeting_id }}">
                            {{ meeting.customer['first_name'] }} {{ meeting.customer['last_name'] }} of {{ meeting.customer['company'] }} at {{ meeting.date }}
                        </a>
                        <br>  
                    {% endif %}
                {% endfor %}
                <br>
                <h4 class="in-con-sub-title-view-adv">Accepted</h4>
                {% for meeting in meetings %}
                    {% if meeting.meeting_accepted %}
                        <a class="link-font-view-adv" href="/rep/meeting/{{ meeting.meeting_id }}">
                            {{ meeting.customer['first_name'] }} {{ meeting.customer['last_name'] }} of {{ meeting.customer['company'] }} at {{ meeting.date }}
                        </a>
                        <br>  
                    {% endif %}
                {% endfor %}
        </div>

        <div class="rep-column second-column">
            <h3 class="in-con-sub-title">Your messages with {{ adv.first_name }} {{ adv.last_name }}</h3>
            {% for message in message_list %}
                <p>
                    {{ message }}
                </p><br>
            {% endfor %}
        </div>
    </div>
</div>


<a class="back" href="/rep">
    Back
</a>

{% endblock %}