{% extends "base.html" %}

{% block title %}Kredible - Meeting Info{% endblock %}

{% block body %}

<nav id="navigation">
    <a id="main-title" href="/"><img src="/img/logo.png" alt="Kredible"></a>
    <a class= "logout" href="/adv_logout">Log Out</a>
</nav>

<h3 class="in-con-title-green">Meeting Info</h3>


<div class="view-box">
    <h3 class="view-box-font">Rep: {{ meeting.sales_rep['first_name'] }} {{ meeting.sales_rep['last_name'] }} || {{ meeting.sales_rep['company'] }}</h3>
    <h3 class="view-box-font">Customer: {{ meeting.customer['first_name'] }} {{ meeting.customer['last_name'] }} || {{ meeting.customer['company'] }}</h3>
    <h3 class="view-box-font">Date: {{ meeting.date }}</h3>
    <h3 class="view-box-font">Time: {{ meeting.time }}</h3>
    <h3 class="view-box-font">Notes from {{ meeting.sales_rep['first_name'] }} {{ meeting.sales_rep['last_name'] }}:</h3>
    <p class="notes">{{ meeting.meeting_prep_notes }}</p>
    <h3 class="view-box-font"><a class="view-box-link" href="{{ meeting.meeting_link }}">Meeting Link</a></h3>
</div>

<br>

<a class="back" href="/advocate">
    Back
</a>
<br>


{% endblock %}