{% extends "base.html" %}

{% block title %}Kredible - Advocate Info{% endblock %}

{% block body %}

<p>You are logged in as a sales rep.</p>

<h1>Kredible</h1>

<h2>Advocate: {{ adv.first_name }} {{ adv.last_name }} of {{ adv.company }}</h2>
<h4>Email: {{ adv.email }}</h4>
<h4>Phone: {{ adv.phone_number }}</h4>

<div>
    <h3>Availability:</h3>
    <p>{{ adv.availability }}</p>
    <h3>Request meeting with {{ adv.first_name }} {{ adv.last_name }}</h3>
    <form class="request-mtg-form"method="POST" action="/rep/{{ adv.adv_id }}">
        <div> {{ form.cust_id.label }}: {{ form.cust_id }}</div>
        <div> {{ form.date.label }}: {{ form.date }} </div>
        <div> {{ form.time.label }}: {{ form.time }}</div>
        <div> {{ form.meeting_link.label }}: {{ form.meeting_link }}</div>
        <div> {{ form.meeting_prep_notes.label }}: {{ form.meeting_prep_notes }} </div>
        {{ form.csrf_token }}
        <button id="request-meeting-submit-btn" class ="btn btn-primary" type="submit">Request Meeting</button>
    </form>
</div>

<div>
    <h3>Upcoming meetings involving {{ adv.first_name }} {{ adv.last_name }}</h3>
    <h4>Requested</h4>
    {% for meeting in meetings %}
        {% if not meeting.meeting_accepted %}
            <a href="/rep/meeting/{{ meeting.meeting_id }}">
                {{ meeting.customer['first_name'] }} {{ meeting.customer['last_name'] }} of {{ meeting.customer['company'] }} at {{ meeting.date }}
            </a>
            <br>  
        {% endif %}
    {% endfor %}

    <h4>Accepted</h4>
    {% for meeting in meetings %}
        {% if meeting.meeting_accepted %}
            <a href="/rep/meeting/{{ meeting.meeting_id }}">
                {{ meeting.customer['first_name'] }} {{ meeting.customer['last_name'] }} of {{ meeting.customer['company'] }} at {{ meeting.date }}
            </a>
            <br>  
        {% endif %}
    {% endfor %}
</div>
</div>

<div>
    <h3>Completed meetings involving {{ adv.first_name }} {{ adv.last_name }}</h3>
</div>

<div>
    <h3>Your messages with {{ adv.first_name }} {{ adv.last_name }}</h3>
    {% for message in message_list %}
                <p>
                    {{ message }}
                </p><br>
    {% endfor %}
</div>


<a href="/rep">
    Back
</a>
<br>
<a class= "logout" href="/rep_logout">Logout</a>


{% endblock %}